* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  overflow: hidden;
  font-family: "Raleway", sans-serif, "Lato", sans-serif, "Satisfy", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");

/*Variables*/
:root {
  --color-primary: #ffffff;
  --color-secondary: #92b4ec;
  --font-family-primary: "Satisfy", cursive;
  --font-family-secondary: "Lato", sans-serif;
  --text-color-primary: black;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*Main*/

.section {
  padding: 5rem 0;
}
.section-container {
  width: 95vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  padding: 2rem;
}
@media (min-width: 992px) {
  .section-container {
    width: 95vw;
  }
}
.form-control {
  display: flex;
  justify-content: center;
}

.main-form h3 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.todo-container {
  margin-top: 2rem;
}
.title {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

/*Alert*/
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
}
.alert-success {
  color: #155724;
}

.allClear {
  width: 10rem;
  height: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.3rem;
  border: none;
}
.allClear:hover {
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: rgba(255, 0, 0, 0.525);
  box-shadow: var(--shadow);
}

.edit-btn,
.delete-btn {
  height: 2rem;
  width: 2rem;
}
.edit-btn:hover,
.delete-btn:hover {
  color: rgba(255, 0, 0, 0.525);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 0.3rem;
}
